.particle-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 1;
  filter: brightness(1.2);
}

body.dark-mode .particle-background {
  opacity: 1;
  filter: brightness(1.5);
}
